<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Жанр: ' + ${genre.genrename}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="" th:href="@{/css/style.css}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>

<div class="div-panel">
    <h1>Изменение жанра</h1>
    <div th:each="el:${genre}">
        <form th:object="${genre}" method="post">
            <p>Название жанра</p>
            <input class="form-control" th:field="*{genrename}" type="text" name="genrename" placeholder="Введите название жанра">
            <div style="color: red " th:if="${#fields.hasErrors('genrename')}" th:errors="*{genrename}"></div>
            <br>
            <button type="submit" class="btn btn-outline-primary mybtn">Сохранить изменения</button>
        </form>
    </div>
</div>

<div th:insert="fragments/footer :: mainfooter"></div>
</body>
</html>