<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о карточках</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="" th:href="@{/css/style.css}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>

<div class="div-panel">
    <h1>Информация о карточках</h1>
    <div th:each="el : ${track}">
        <h2>Подробнее про карточки: </h2>
        <p>Название карточек</p>
        <p class="myp" th:text="${el.trackname}"></p>
        <p>Название файла:</p>
        <p class="myp" th:text="${el.trackfile}"></p>
        <p>Название жанра:</p>
        <p class="myp" th:text="${el.genre.getGenrename()}"></p>
        <p>Название издателя:</p>
        <p class="myp" th:text="${el.label.getLabelname()}"></p>
        <p>Юр. адрес:</p>
        <p class="myp" th:text="${el.label.getLegaladdress()}"></p>
        <div>
            <a th:href="'/track/' + ${el.id} + '/edit'" class="btn btn-outline-warning mybtn">Редактировать</a>
            <form th:action="'/track/' + ${el.id} + '/remove'" method="post">
                <button type="submit" class="btn btn-outline-danger mybtn">Удалить</button>
            </form>
        </div>
    </div>

</div>

<div th:insert="fragments/footer :: mainfooter"></div>
</body>
</html>